@use "../abstracts/colors";
@use "../abstracts/fonts";
@use "typography";

html {
  font-size: 62.5%;
}

body {
  font-size: fonts.$font-size--base--px;  /* px fallback */
  font-size: fonts.$font-size--base;    /* default font-size for document */
  @include typography.font-size(typography.$p-font-sizes);
  background: colors.$background-color;
  font-family: fonts.$font-family--primary;
  font-weight: fonts.$font-weight--normal;
  color: colors.$text-color;
  line-height: 1;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
