
/* Font family */
// body {
//     font-size: $f1;
//     font-family: var(--font-primary);
//     color: var(--color-text);
// }

/* Font size */
.f1 { font-size: $f1; }
.f2 { font-size: $f2; }
.f3 { font-size: $f3; }
.f4 { font-size: $f4; }
.f5 { font-size: $f5; }

@each $breakpoint-name, $breakpoint-width in $breakpoint-map {
    @media (min-width: $breakpoint-width) {
        .f1-#{$breakpoint-name} { font-size: $f1;}
        .f2-#{$breakpoint-name} { font-size: $f2;}
        .f3-#{$breakpoint-name} { font-size: $f3;}
        .f4-#{$breakpoint-name} { font-size: $f4;}
        .f5-#{$breakpoint-name} { font-size: $f5;}
    }
}

$p-font-sizes: (
    null:   $font-size--xs,
    480px:  $font-size--sm,
    640px:  $font-size--sm,
    1024px: $font-size--sm
);

$h1-font-sizes: (
    null:   $font-size--lg,
    480px:  $font-size--xl,
    640px:  $font-size--xl,
    1024px: $font-size--xl
);

$h2-font-sizes: (
    null:   $font-size--md,
    480px:  $font-size--lg,
    640px:  $font-size--lg,
    1024px: $font-size--lg
);

$h3-font-sizes: (
    null:   $font-size--md,
    480px:  $font-size--lg,
    640px:  $font-size--lg,
    1024px: $font-size--lg
);

@mixin font-size($fs-map) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
        font-size: $fs-font-size;
      }
      @else {
        @media screen and (min-width: $fs-breakpoint) {
          font-size: $fs-font-size;
        }
      }
    }
  }

  body,
  p {
      @include font-size($p-font-sizes);
      font-weight: $font-weight--normal;
  }

  h1 {
    @include font-size($h1-font-sizes);
    font-weight: $font-weight--strong;
  }

  h2 {
    @include font-size($h2-font-sizes);
    font-weight: $font-weight--strong;
  }

  h3 {
    @include font-size($h3-font-sizes);
    font-weight: $font-weight--normal;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.45;
  }

